Repository eBay/ebayui-core, pull requests merged in 2018-03, with the labels that each got.

#23 Improve fake menu support
  marko.json
  src/components/ebay-menu/README.md
  src/components/ebay-menu/examples/2-fake/template.marko
  src/components/ebay-menu/index.js
  src/components/ebay-menu/test/test.server.js
Labels: component: menu

#29 Renaming <ebay-listbox> to <ebay-select>
  README.md
  demo/browser.json
  marko.json
  src/common/transformer/index.js
  src/common/transformer/test/test.server.js
  src/components/ebay-listbox/README.md
  src/components/ebay-listbox/examples/1-basic/template.marko
  src/components/ebay-listbox/examples/2-selected-option/template.marko
  src/components/ebay-select/README.md
  src/components/ebay-select/browser.json
  src/components/ebay-select/examples/1-basic/template.marko
  src/components/ebay-select/examples/2-selected-option/template.marko
  src/components/ebay-select/index.js
  src/components/ebay-select/mock/index.js
  src/components/ebay-select/template.marko
  src/components/ebay-select/test/test.browser.js
  src/components/ebay-select/test/test.server.js
Labels: component: select

#28 Component: ebay-notice
  .gitignore
  README.md
  demo/browser.json
  marko.json
  src/components/ebay-notice/README.md
  src/components/ebay-notice/browser.json
  src/components/ebay-notice/examples/1-page-notice/template.marko
  src/components/ebay-notice/examples/2-inline-notice/template.marko
  src/components/ebay-notice/examples/3-custom-heading/template.marko
  src/components/ebay-notice/index.js
  src/components/ebay-notice/template.marko
  src/components/ebay-notice/test/test.server.js
Labels: component: notice

#36 README formatting and text fixes
  src/components/ebay-button/README.md
  src/components/ebay-carousel/README.md
  src/components/ebay-menu/README.md
  src/components/ebay-notice/README.md
  src/components/ebay-select/README.md
  src/components/ebay-select/examples/1-basic/template.marko
  src/components/ebay-select/examples/2-selected-option/template.marko
Labels: aspect: documentation

#40 Carousel: add brand styling to examples
  src/components/ebay-carousel/examples/1-continuous/template.marko
  src/components/ebay-carousel/examples/2-discrete/template.marko
  src/components/ebay-carousel/examples/3-starting-index/template.marko
Labels: component: carousel

#38 Button: set priority to secondary by default
  src/components/ebay-button/README.md
  src/components/ebay-button/examples/2-raw/template.marko
  src/components/ebay-button/examples/2-secondary/template.marko
  src/components/ebay-button/index.js
  src/components/ebay-button/test/test.server.js
Labels: component: button

#43 Run all tests with Marko v3 and v4
  .travis.yml
  CONTRIBUTING.md
  integration/index.js
  package.json
  src/common/transformer/test/test.server.js
  src/components/ebay-menu/test/test.browser.js
Labels: aspect: CI
