Repository eBay/ebayui-core, pull requests merged in 2018-11, with the labels that each got.

#475 Merge all 1.1.0 milestone commits into master prior to release
  README.md
  marko.json
  package.json
  src/common/emit-and-fire/test/test.browser.js
  src/common/property-observer/test/test.browser.js
  src/common/test-utils/server.js
  src/common/transformers/attribute-tags/index.js
  src/common/transformers/attribute-tags/test/test.server.js
  src/common/transformers/ebayui-attribute/index.js
  src/common/transformers/ebayui-attribute/test/test.server.js
  src/components/ebay-button/index.js
  src/components/ebay-button/test/test.browser.js
  src/components/ebay-carousel/examples/11-items-per-slide-partial-item/template.marko
  src/components/ebay-carousel/index.js
  src/components/ebay-carousel/style-touch.less
  src/components/ebay-carousel/style.less
  src/components/ebay-carousel/template.marko
  src/components/ebay-icon/examples/02-inline/template.marko
  src/components/ebay-icon/examples/03-inline-custom-color/template.marko
  src/components/ebay-icon/examples/04-inline-non-decorative/template.marko
  src/components/ebay-icon/index.js
  src/components/ebay-icon/template.marko
  src/components/ebay-menu/transformer.js
  src/components/ebay-switch/README.md
  src/components/ebay-textbox/README.md
  src/components/ebay-textbox/index.js
  src/components/ebay-textbox/template.marko
  src/components/ebay-textbox/test/test.browser.js
  src/components/marko.json
  yarn.lock
Labels: squash: NO thanks

#471 Fixing the LESS variables because of Skin bundle changes;
  src/components/ebay-carousel/browser.json
  src/components/ebay-carousel/style-no-touch.less
  src/components/ebay-carousel/style.less
  src/components/ebay-carousel/variables-ds4.less
  src/components/ebay-carousel/variables-ds6.less
Labels: component: carousel, squash: YES please

#474 Add fixed height and truncated options to btn;
  marko.json
  src/components/ebay-button/README.md
  src/components/ebay-button/examples/11-fixed-height/template.marko
  src/components/ebay-button/examples/12-truncated/template.marko
  src/components/ebay-button/index.js
Labels: component: button, squash: YES please

#477 Carousel: Native scrolling with css snap points.
  src/common/test-utils/browser.js
  src/components/ebay-carousel/README.md
  src/components/ebay-carousel/index.js
  src/components/ebay-carousel/style-touch.less
  src/components/ebay-carousel/style.less
  src/components/ebay-carousel/template.marko
  src/components/ebay-carousel/test/test.browser.js
  src/components/ebay-carousel/utils/on-scroll-debounced/index.js
  src/components/ebay-carousel/utils/on-scroll-debounced/test/test.browser.js
  src/components/ebay-carousel/utils/on-scroll-end/index.js
  src/components/ebay-carousel/utils/on-scroll-end/test/test.browser.js
  src/components/ebay-carousel/utils/scroll-transition/index.js
  src/components/ebay-carousel/utils/scroll-transition/test/test.browser.js
Labels: component: carousel, squash: YES please

#485 Merge 1.2.0 branch into master prior to final release.
  package.json
  src/common/test-utils/browser.js
  src/components/ebay-carousel/README.md
  src/components/ebay-carousel/index.js
  src/components/ebay-carousel/style-touch.less
  src/components/ebay-carousel/style.less
  src/components/ebay-carousel/template.marko
  src/components/ebay-carousel/test/test.browser.js
  src/components/ebay-carousel/utils/on-scroll-debounced/index.js
  src/components/ebay-carousel/utils/on-scroll-debounced/test/test.browser.js
  src/components/ebay-carousel/utils/on-scroll-end/index.js
  src/components/ebay-carousel/utils/on-scroll-end/test/test.browser.js
  src/components/ebay-carousel/utils/scroll-transition/index.js
  src/components/ebay-carousel/utils/scroll-transition/test/test.browser.js
  yarn.lock
Labels: squash: NO thanks

#478 Enhance textbox with icon support (issue #456)
  marko.json
  src/components/ebay-textbox/README.md
  src/components/ebay-textbox/browser.json
  src/components/ebay-textbox/examples/09-ds6-supported-icon/template.marko
  src/components/ebay-textbox/examples/10-ds6-supported-icon-postfix/template.marko
  src/components/ebay-textbox/examples/11-ds4-supported-icon/template.marko
  src/components/ebay-textbox/examples/12-ds4-supported-icon-postfix/template.marko
  src/components/ebay-textbox/examples/13-multiline-icon-not-supported/template.marko
  src/components/ebay-textbox/index.js
  src/components/ebay-textbox/mock/index.js
  src/components/ebay-textbox/template.marko
  src/components/ebay-textbox/test/test.server.js
  src/components/ebay-textbox/transformer.js
Labels: component: textbox, squash: YES please, type: enhancement

#479 New badge component (issue #19)
  marko.json
  src/components/ebay-badge/README.md
  src/components/ebay-badge/browser.json
  src/components/ebay-badge/examples/01-default/template.marko
  src/components/ebay-badge/examples/02-menu/template.marko
  src/components/ebay-badge/examples/03-icon/template.marko
  src/components/ebay-badge/examples/04-truncated-number/template.marko
  src/components/ebay-badge/index.js
  src/components/ebay-badge/template.marko
  src/components/ebay-badge/test/test.server.js
  src/components/ebay-button/README.md
  src/components/ebay-button/browser.json
  src/components/ebay-button/examples/11-icon-button/template.marko
  src/components/ebay-button/index.js
  src/components/ebay-button/template.marko
  src/components/ebay-button/test/test.server.js
  src/components/ebay-menu/README.md
  src/components/ebay-menu/browser.json
  src/components/ebay-menu/index.js
  src/components/ebay-menu/template.marko
Labels: squash: YES please
