Repository eBay/ebayui-core, pull requests merged in 2019-07, with the labels that each got.

#730 Select: optgroup option click
  src/components/ebay-select/index.js
Labels: component: select, squash: YES please

#739 Listbox: Fixing expander host selector;
  src/components/ebay-listbox/index.js
Labels: component: listbox, squash: NO thanks

#738 Added check to see where the click started from on dialog
  src/components/ebay-dialog/index.js
  src/components/ebay-dialog/template.marko
Labels: component: dialog

#744 2.7.0 PR prior to merge
  .babelrc
  marko-cli.js
  marko.json
  package.json
  src/common/html-attributes/index.js
  src/common/test-utils/browser.js
  src/common/test-utils/server.js
  src/components/ebay-breadcrumb/mock/index.js
  src/components/ebay-button/index.js
  src/components/ebay-carousel/browser.json
  src/components/ebay-carousel/index.js
  src/components/ebay-carousel/style.less
  src/components/ebay-carousel/test/test.browser.js
  src/components/ebay-carousel/variables-ds4.less
  src/components/ebay-carousel/variables-ds6.less
  src/components/ebay-combobox-readonly/index.js
  src/components/ebay-combobox/index.js
  src/components/ebay-dialog/index.js
  src/components/ebay-icon/transformer.js
  src/components/ebay-listbox/index.js
  src/components/ebay-listbox/test/test.browser.js
  src/components/ebay-menu/browser.json
  src/components/ebay-menu/index.js
  src/components/ebay-menu/test/test.browser.js
  src/components/ebay-notice/index.js
  src/components/ebay-pagination/test/test.browser.js
  src/components/ebay-pill/index.js
  src/components/ebay-select/examples/06-optgroup/template.marko
  src/components/ebay-select/index.js
  src/components/ebay-select/template.marko
  src/components/ebay-tab/index.js
  src/components/ebay-textbox/index.js
  yarn.lock
Labels: squash: NO thanks

#757 Combobox: Fix IE11 event order issue
  package.json
  src/components/ebay-combobox/index.js
  src/components/ebay-combobox/template.marko
  src/components/ebay-combobox/test/test.browser.js
  yarn.lock
Labels: component: combobox, squash: YES please

#756 Combobox: Allow cursor to be handled natively
  demo/template.marko
  package.json
  src/components/ebay-combobox/examples/06-long-options/template.marko
  src/components/ebay-combobox/index.js
  src/components/ebay-combobox/template.marko
  src/components/ebay-combobox/test/test.browser.js
  yarn.lock
Labels: component: combobox, squash: YES please

#760 Combobox: Fix double selection of options;
  src/components/ebay-combobox/index.js
Labels: component: combobox, squash: YES please

#762 Made infotip render in a paragraph element
  src/components/components/ebay-tooltip-overlay/template.marko
  src/components/ebay-infotip/examples/04-intotip-in-paragraph/template.marko
Labels: component: infotip, component: tooltip, component: tourtip

#763 Upgraded dependencies prior to 2.8.0 prerelease
  package.json
  yarn.lock
Labels: squash: YES please

#783 Changed icon to not use w-id which causes an error in marko 3
  src/components/ebay-icon/transformer.js
Labels: aspect: marko, component: icon, squash: YES please

#785 Changed missing icons
  src/components/ebay-icon/symbols/chevron-down-bold/ds4.marko
  src/components/ebay-icon/symbols/save/ds4.marko
Labels: squash: YES please

#795 Fix button types to avoid form submission
  src/components/ebay-carousel/template.marko
  src/components/ebay-infotip/template.marko
  src/components/ebay-notice/template.marko
  src/components/ebay-tooltip/examples/01-icon-button-host/template.marko
Labels: component: carousel, component: notice, component: tooltip, squash: YES please

#797 Use Marko 4 for demos and the primary dev environment
  demo/index.js
  marko-cli.js
  package.json
  scripts/install-no-save.js
  src/components/ebay-dialog/examples/01-basic/template.marko
  src/components/ebay-dialog/examples/02-scrolling/template.marko
  src/components/ebay-dialog/examples/03-fullscreen/template.marko
  src/components/ebay-dialog/examples/04-panel-left/template.marko
  src/components/ebay-dialog/examples/05-panel-right/template.marko
  src/components/ebay-dialog/examples/06-fill/template.marko
  src/components/ebay-dialog/examples/07-focus/template.marko
  yarn.lock
Labels: aspect: build, aspect: marko, component: all, squash: YES please

#796 Listbox and menu skin changes
  src/components/ebay-listbox-button/browser.json
  src/components/ebay-listbox-button/index.js
  src/components/ebay-listbox-button/template.marko
  src/components/ebay-listbox-button/test/test.browser.js
  src/components/ebay-listbox-button/test/test.server.js
  src/components/ebay-menu-button/browser.json
  src/components/ebay-menu-button/index.js
  src/components/ebay-menu-button/template.marko
  src/components/ebay-menu-button/test/test.browser.js
  src/components/ebay-menu-button/test/test.server.js
Labels: component: listbox, component: menu, squash: YES please

#800 Bump Skin and fix unchecked checkbox icon symbol color
  package.json
  src/components/ebay-icon/symbols/checkbox-unchecked/ds6.marko
  yarn.lock
Labels: component: checkbox, semver: patch, squash: YES please

#798 CTA: Move out of button and into its own tag
  demo/browser.json
  marko.json
  src/components/ebay-button/README.md
  src/components/ebay-button/examples/13-cta/template.marko
  src/components/ebay-button/template.marko
  src/components/ebay-button/test/test.server.js
  src/components/ebay-cta-button/README.md
  src/components/ebay-cta-button/browser.json
  src/components/ebay-cta-button/examples/01-basic/template.marko
  src/components/ebay-cta-button/examples/02-small/template.marko
  src/components/ebay-cta-button/examples/03-large/template.marko
  src/components/ebay-cta-button/index.marko
  src/components/ebay-cta-button/test/test.server.js
Labels: component: cta-button, squash: YES please

#794 Pill: migrate pill class names and remove ebay-button
  src/common/multiline-ellipsis/index.js
  src/common/multiline-ellipsis/test/test.browser.js
  src/components/ebay-pill/browser.json
  src/components/ebay-pill/index.js
  src/components/ebay-pill/style.less
  src/components/ebay-pill/template.marko
  src/components/ebay-pill/test/test.browser.js
  src/components/ebay-pill/test/test.server.js
Labels: component: pill, squash: YES please
