Repository eBay/ebayui-core, pull requests merged in 2019-03, with the labels that each got.

#569 Placing floating label init behind load event;
  package.json
  src/components/ebay-textbox/index.js
  src/components/ebay-textbox/test/test.browser.js
  yarn.lock
Labels: component: textbox, squash: YES please

#578 Textbox: Floating label fix
  package.json
  yarn.lock
Labels: component: textbox, squash: YES please

#574 Button: Fixes CTA variant
  package.json
  src/components/ebay-button/browser.json
  src/components/ebay-button/examples/13-cta/template.marko
  src/components/ebay-button/index.js
  src/components/ebay-button/template.marko
  src/components/ebay-button/test/test.server.js
  src/components/ebay-icon/symbols/arrow-right-bold/browser.json
  src/components/ebay-icon/symbols/arrow-right-bold/ds4.marko
  src/components/ebay-icon/symbols/arrow-right-bold/missing.js
Labels: squash: YES please

#565 Carousel: Disable scroll snapping for FireFox
  src/components/ebay-carousel/style-touch.less
  src/components/ebay-carousel/style.less
Labels: component: carousel, status: pull request

#579 Textbox: Additional types
  marko.json
  src/components/ebay-textbox/examples/01-default/template.marko
  src/components/ebay-textbox/index.js
  src/components/ebay-textbox/template.marko
Labels: component: textbox, squash: YES please

#589 Add ponyfill for unsupported javascript APIs
  demo/template.marko
  package.json
  src/components/ebay-breadcrumb/examples/05-hijax/template.marko
  src/components/ebay-checkbox/examples/03-grouped-checkbox/template.marko
  src/components/ebay-combobox-readonly/index.js
  src/components/ebay-listbox/index.js
  src/components/ebay-menu/browser.json
  src/components/ebay-pagination/examples/05-buttons/template.marko
  src/components/ebay-radio/examples/03-grouped-radio/template.marko
  src/components/ebay-select/index.js
  yarn.lock
Labels: aspect: IE11, type: bug

#591 Floating label refresh using onUpdate
  src/components/ebay-textbox/index.js
Labels: component: textbox

#596 Merge 2.0.6 branch prior to release
  marko.json
  package.json
  src/components/ebay-textbox/examples/01-default/template.marko
  src/components/ebay-textbox/index.js
  src/components/ebay-textbox/template.marko
  yarn.lock
Labels: squash: NO thanks

#593 Listbox: invalid options preservation fix
  src/components/ebay-listbox/template.marko
Labels: component: listbox

#597 Checkbox: removed redundant skin classes
  src/components/ebay-checkbox/template.marko
  src/components/ebay-radio/template.marko
Labels: component: checkbox

#598 Merge 2.0.7 branch prior to release
  package.json
  src/components/ebay-checkbox/template.marko
  src/components/ebay-listbox/template.marko
  src/components/ebay-radio/template.marko
  yarn.lock
Labels: squash: NO thanks
