Repository eBay/ebayui-core, pull requests merged in 2019-12, with the labels that each got.

#972 Combobox: allow custom ID
  src/components/ebay-combobox/examples/07-custom-input-id/template.marko
  src/components/ebay-combobox/index.js
  src/components/ebay-combobox/template.marko
Labels: component: combobox, status: pull request

#989 Combobox: Fix value change test;
  src/components/ebay-combobox/index.js
  src/components/ebay-combobox/test/test.browser.js
Labels: component: combobox, type: bug

#990 Combobox: Added test for blur event
  src/components/ebay-combobox/test/test.browser.js
Labels: component: combobox

#995 Merge from master to 5.0.0
  docs/ds4/iframe.html
  docs/ds4/index.html
  docs/ds4/main.26a64039c2d355636242.bundle.js
  docs/ds4/main.2ed43cb195bec23c600b.bundle.js
  docs/ds4/main.40cc635ee65960bd4587.bundle.js
  docs/ds4/main.dc64aa73ba8ef4c21214.bundle.js
  docs/ds4/runtime~main.dc64aa73ba8ef4c21214.bundle.js
  docs/ds4/sb_dll/storybook_ui-manifest.json
  docs/ds4/sb_dll/storybook_ui_dll.js
  docs/ds4/vendors~main.26a64039c2d355636242.bundle.js
  docs/ds4/vendors~main.78d5d5a9c8fdc13fc3de.bundle.js
  docs/ds4/vendors~main.80c0c179b9cce7b40bc8.bundle.js
  docs/ds4/vendors~main.dc64aa73ba8ef4c21214.bundle.js
  docs/iframe.html
  docs/index.html
  docs/main.2ed43cb195bec23c600b.bundle.js
  docs/main.40cc635ee65960bd4587.bundle.js
  docs/main.48c0c1833570d77d1e5b.bundle.js
  docs/main.9ce40dc3f4696e227a5b.bundle.js
  docs/runtime~main.9ce40dc3f4696e227a5b.bundle.js
  docs/sb_dll/storybook_ui-manifest.json
  docs/sb_dll/storybook_ui_dll.js
  docs/vendors~main.48c0c1833570d77d1e5b.bundle.js
  docs/vendors~main.78d5d5a9c8fdc13fc3de.bundle.js
  docs/vendors~main.80c0c179b9cce7b40bc8.bundle.js
  docs/vendors~main.9ce40dc3f4696e227a5b.bundle.js
  package.json
  src/components/components/ebay-tooltip-overlay/constants.js
  src/components/ebay-checkbox/test/test.server.js
  src/components/ebay-combobox/test/test.browser.js
  src/components/ebay-tooltip/examples/02-anchor-host/template.marko
  src/components/ebay-tooltip/examples/04-pointer-with-custom-location/template.marko
  src/components/ebay-tooltip/test/location-styles.json
  src/components/ebay-tourtip/examples/01-tourtip/template.marko
  yarn.lock
Labels: squash: YES please

#996 Adding mousedown handler for menu-button
  src/components/ebay-menu-button/index.js
  src/components/ebay-menu-button/template.marko
  src/components/ebay-menu-button/test/test.browser.js
Labels: squash: YES please
