Repository eBay/ebayui-core, pull requests merged in 2019-01, with the labels that each got.

#508 Textbox: add floating label support (#503)
  marko.json
  package.json
  src/components/ebay-textbox/browser.json
  src/components/ebay-textbox/examples/14-floating-label/template.marko
  src/components/ebay-textbox/examples/15-floating-label-with-value/template.marko
  src/components/ebay-textbox/examples/16-floating-label-with-placeholder/template.marko
  src/components/ebay-textbox/examples/17-floating-label-disabled/template.marko
  src/components/ebay-textbox/examples/18-floating-label-invalid/template.marko
  src/components/ebay-textbox/index.js
  src/components/ebay-textbox/template.marko
  src/components/ebay-textbox/test/test.browser.js
  src/components/ebay-textbox/test/test.server.js
  yarn.lock
Labels: component: textbox, squash: YES please

#512 Tabs: Fix keyboard arrow keys a11y (#422)
  marko.json
  src/common/event-utils/index.js
  src/common/event-utils/test/test.browser.js
  src/components/ebay-tab/README.md
  src/components/ebay-tab/examples/05-manual-activation/template.marko
  src/components/ebay-tab/index.js
  src/components/ebay-tab/template.marko
  src/components/ebay-tab/test/test.browser.js
Labels: component: tabs, squash: YES please

#511 Updated docs to remove background icons examples;
  package.json
  src/components/ebay-carousel/browser.json
  src/components/ebay-icon/README.md
  src/components/ebay-icon/browser.json
  src/components/ebay-icon/examples/01-background/template.marko
  src/components/ebay-icon/examples/01-inline/template.marko
  src/components/ebay-icon/examples/02-inline-custom-color/template.marko
  src/components/ebay-icon/examples/02-inline/template.marko
  src/components/ebay-icon/examples/03-inline-non-decorative/template.marko
  src/components/ebay-pagination/browser.json
  src/components/ebay-select/browser.json
  yarn.lock
Labels: component: icon, squash: YES please

#518 Fixing wrapping issue by re-instituting a span;
  src/components/ebay-menu/template.marko
Labels: component: menu

#515 1.4.0 branch merge before release
  demo/index.js
  package.json
  src/components/ebay-carousel/browser.json
  src/components/ebay-carousel/index.js
  src/components/ebay-icon/README.md
  src/components/ebay-icon/browser.json
  src/components/ebay-icon/examples/01-background/template.marko
  src/components/ebay-icon/examples/01-inline/template.marko
  src/components/ebay-icon/examples/02-inline-custom-color/template.marko
  src/components/ebay-icon/examples/02-inline/template.marko
  src/components/ebay-icon/examples/03-inline-non-decorative/template.marko
  src/components/ebay-menu/template.marko
  src/components/ebay-pagination/browser.json
  src/components/ebay-select/browser.json
  yarn.lock
Labels: squash: NO thanks
