Repository eBay/ebayui-core, pull requests merged in 2019-09, with the labels that each got.

#847 Fix test in Marko v3;
  src/components/ebay-filter-menu/template.marko
  src/components/ebay-filter-menu/test/test.browser.js
Labels: component: filter-menu, squash: YES please

#850 Filter menu improvements
  src/components/ebay-filter-menu-button/index.js
  src/components/ebay-filter-menu-button/template.marko
  src/components/ebay-filter-menu/index.js
  src/components/ebay-filter-menu/template.marko
Labels: component: filter-menu, squash: YES please

#861 fixing pagination on small screens
  src/components/ebay-pagination/index.js
Labels: component: pagination, squash: YES please

#864 Normalize to selected instead of pressed;
  marko.json
  src/components/ebay-filter/README.md
  src/components/ebay-filter/index.js
  src/components/ebay-filter/template.marko
  src/components/ebay-filter/test/mock/index.js
  src/components/ebay-filter/test/test.browser.js
  src/components/ebay-filter/test/test.server.js
Labels: component: filter, squash: YES please

#868 Notice docs fix;
  src/components/ebay-notice/README.md
Labels: component: notice

#869 Updated carousel to use small icons for paddles
  src/components/ebay-carousel/template.marko
  src/components/ebay-icon/symbols/chevron-left-small/index.marko
  src/components/ebay-icon/symbols/chevron-right-small/index.marko
Labels: component: carousel, component: icon

#870 Updating main README for lasso-page info
  README.md
Labels: aspect: documentation, squash: YES please

#872 Expand button: fix when expand btn has both small and no text modifiers
  src/components/ebay-expand-button/index.marko
Labels: squash: YES please

#878 Carousel: Hide paddles if not enough items;
  src/components/ebay-carousel/examples/12-items-per-slide-equal-total-items/template.marko
  src/components/ebay-carousel/index.js
  src/components/ebay-carousel/template.marko
  src/components/ebay-carousel/test/test.browser.js
  src/components/ebay-carousel/test/test.server.js
Labels: component: carousel, squash: YES please

#888 Tabs: Fix manual activation;
  src/components/ebay-tab/index.js
  src/components/ebay-tab/test/mock/index.js
  src/components/ebay-tab/test/test.browser.js
Labels: component: tabs
