Repository eBay/ebayui-core, pull requests merged in 2019-06, with the labels that each got.

#684 Combobox: expanded attribute
  marko.json
  src/components/ebay-combobox/README.md
  src/components/ebay-combobox/examples/01-default/template.marko
  src/components/ebay-combobox/examples/02-basic-filtering/template.marko
  src/components/ebay-combobox/examples/03-input-value/template.marko
  src/components/ebay-combobox/examples/04-lots-of-options/template.marko
  src/components/ebay-combobox/index.js
Labels: component: combobox, squash: YES please, type: enhancement

#677 ebay-menu: Added disabled state option & <ebay-menu-label> subcomponent
  marko.json
  src/components/ebay-menu/README.md
  src/components/ebay-menu/examples/01-basic/template.marko
  src/components/ebay-menu/index.js
  src/components/ebay-menu/mock/index.js
  src/components/ebay-menu/template.marko
  src/components/ebay-menu/test/test.server.js
Labels: component: menu, squash: YES please, type: enhancement

#693 683 - Menu disabled state
  marko.json
  package.json
  src/components/ebay-menu/README.md
  src/components/ebay-menu/examples/11-custom-label/template.marko
  src/components/ebay-menu/examples/12-icon-without-toggle/template.marko
  src/components/ebay-menu/examples/13-radio/template.marko
  src/components/ebay-menu/examples/14-checkbox/template.marko
  src/components/ebay-menu/examples/15-scrollable/template.marko
  src/components/ebay-menu/examples/16-icons/template.marko
  src/components/ebay-menu/examples/16-sprites/template.marko
  src/components/ebay-menu/examples/17-sprites/template.marko
  src/components/ebay-menu/examples/18-disabled/template.marko
  src/components/ebay-menu/index.js
  src/components/ebay-menu/mock/index.js
  src/components/ebay-menu/template.marko
  src/components/ebay-menu/test/test.server.js
  yarn.lock
Labels: component: menu, squash: YES please, type: enhancement

#705 703 - Fix missing type attribute
  src/components/ebay-listbox/template.marko
Labels: component: listbox, semver: patch, squash: NO thanks

#704 2.5.0 - sanity check before release
  marko.json
  package.json
  src/components/ebay-combobox/README.md
  src/components/ebay-combobox/examples/01-default/template.marko
  src/components/ebay-combobox/examples/02-basic-filtering/template.marko
  src/components/ebay-combobox/examples/03-input-value/template.marko
  src/components/ebay-combobox/examples/04-lots-of-options/template.marko
  src/components/ebay-combobox/index.js
  yarn.lock
Labels: squash: NO thanks

#692 Replaced Object.assign and other polyfills with functions
  .babelrc
  package.json
  src/common/html-attributes/index.js
  src/common/test-utils/server.js
  src/components/ebay-breadcrumb/mock/index.js
  src/components/ebay-button/index.js
  src/components/ebay-carousel/browser.json
  src/components/ebay-carousel/index.js
  src/components/ebay-combobox-readonly/index.js
  src/components/ebay-combobox/index.js
  src/components/ebay-dialog/index.js
  src/components/ebay-listbox/index.js
  src/components/ebay-menu/browser.json
  src/components/ebay-menu/index.js
  src/components/ebay-notice/index.js
  src/components/ebay-pill/index.js
  src/components/ebay-select/index.js
  src/components/ebay-tab/index.js
  src/components/ebay-textbox/index.js
  yarn.lock
Labels: squash: YES please

#712 Combobox: fixes logic with no options;
  src/components/ebay-combobox/examples/05-no-options/template.marko
  src/components/ebay-combobox/index.js
Labels: component: combobox, squash: YES please

#711 DevDeps: upgraded patch, minor and majors
  package.json
  yarn.lock
Labels: squash: NO thanks

#717 Merge prior to 2.6.0 release
  marko.json
  package.json
  src/components/ebay-combobox/examples/05-no-options/template.marko
  src/components/ebay-combobox/index.js
  src/components/ebay-menu/README.md
  src/components/ebay-menu/examples/11-custom-label/template.marko
  src/components/ebay-menu/examples/12-icon-without-toggle/template.marko
  src/components/ebay-menu/examples/13-radio/template.marko
  src/components/ebay-menu/examples/14-checkbox/template.marko
  src/components/ebay-menu/examples/15-scrollable/template.marko
  src/components/ebay-menu/examples/16-icons/template.marko
  src/components/ebay-menu/examples/16-sprites/template.marko
  src/components/ebay-menu/examples/17-sprites/template.marko
  src/components/ebay-menu/examples/18-disabled/template.marko
  src/components/ebay-menu/index.js
  src/components/ebay-menu/mock/index.js
  src/components/ebay-menu/template.marko
  src/components/ebay-menu/test/test.server.js
  yarn.lock
Labels: aspect: skin, component: combobox, component: menu, squash: NO thanks

#719 Select: add optgroup
  marko.json
  src/components/ebay-select/examples/06-optgroup/template.marko
  src/components/ebay-select/index.js
  src/components/ebay-select/template.marko
Labels: component: select, squash: YES please

#720 Menu: fix event firing when radio item already selected
  src/components/ebay-menu/index.js
  src/components/ebay-menu/test/test.browser.js
Labels: component: menu, squash: YES please

#722 Carousel: now using CSS from Skin
  package.json
  src/components/ebay-carousel/browser.json
  src/components/ebay-carousel/style.less
  src/components/ebay-carousel/variables-ds4.less
  src/components/ebay-carousel/variables-ds6.less
  src/components/ebay-icon/transformer.js
  yarn.lock
Labels: squash: NO thanks

#723 Increased browser support for tests
  marko-cli.js
  package.json
  src/common/test-utils/browser.js
  src/components/ebay-carousel/test/test.browser.js
  src/components/ebay-listbox/test/test.browser.js
  src/components/ebay-menu/test/test.browser.js
  src/components/ebay-pagination/test/test.browser.js
  yarn.lock
Labels: squash: NO thanks
