Repository eBay/ebayui-core, pull requests merged in 2019-05, with the labels that each got.

#650 Upgraded Skin for Edge/IE textbox issue
  marko.json
  package.json
  src/components/ebay-combobox/README.md
  src/components/ebay-combobox/template.marko
  yarn.lock
Labels: component: combobox, squash: YES please

#653 Menu: added simple menuitem shortcut via keypress #606
  package.json
  src/common/nodelist-utils/index.js
  src/common/nodelist-utils/test/test.browser.js
  src/common/test-utils/browser.js
  src/components/ebay-menu/examples/15-icons/template.marko
  src/components/ebay-menu/examples/16-sprites/template.marko
  src/components/ebay-menu/index.js
  src/components/ebay-menu/mock/index.js
  src/components/ebay-menu/template.marko
  src/components/ebay-menu/test/test.browser.js
  yarn.lock
Labels: squash: YES please

#658 Merge 2.3.0 branch to master prior to final release
  package.json
  src/common/nodelist-utils/index.js
  src/common/nodelist-utils/test/test.browser.js
  src/common/test-utils/browser.js
  src/components/ebay-menu/examples/15-icons/template.marko
  src/components/ebay-menu/examples/16-sprites/template.marko
  src/components/ebay-menu/index.js
  src/components/ebay-menu/mock/index.js
  src/components/ebay-menu/template.marko
  src/components/ebay-menu/test/test.browser.js
  yarn.lock
Labels: squash: NO thanks

#676 Textbox: Fix disable capability;
  src/components/ebay-textbox/index.js
  src/components/ebay-textbox/template.marko
  src/components/ebay-textbox/test/test.server.js
Labels: component: textbox, squash: YES please

#685 Combobox: Fix to not force cursor to end of text
  src/components/ebay-combobox/index.js
Labels: component: combobox, squash: YES please
