Repository eBay/ebayui-core, pull requests merged in 2019-08, with the labels that each got.

#788 Remove menu and listbox migrations
  marko.json
  src/common/migrators/tag-name/index.js
  src/components/ebay-listbox/browser.json
  src/components/ebay-menu/browser.json
Labels: component: listbox, component: menu, squash: YES please

#801 Carousel updates per Skin changes
  package.json
  src/components/ebay-carousel/template.marko
  src/components/ebay-carousel/test/test.browser.js
  src/components/ebay-carousel/test/test.server.js
  yarn.lock
Labels: component: carousel, squash: YES please

#803 Expand button as separate module
  demo/browser.json
  marko.json
  src/components/ebay-button/examples/10-fixed-height/template.marko
  src/components/ebay-button/examples/10-small-expand-no-text/template.marko
  src/components/ebay-expand-button/README.md
  src/components/ebay-expand-button/browser.json
  src/components/ebay-expand-button/examples/1-expand-no-text/template.marko
  src/components/ebay-expand-button/examples/2-expand-with text/template.marko
  src/components/ebay-expand-button/examples/3-small-expand-no-text/template.marko
  src/components/ebay-expand-button/examples/3-small-expand-with text/template.marko
  src/components/ebay-expand-button/index.marko
  src/components/ebay-expand-button/test/test.server.js
Labels: component: button, squash: YES please

#804 Demo page fixes
  demo/index.js
  marko-cli.js
  package.json
  scripts/install-no-save.js
  src/components/ebay-dialog/examples/01-basic/template.marko
  src/components/ebay-dialog/examples/02-scrolling/template.marko
  src/components/ebay-dialog/examples/03-fullscreen/template.marko
  src/components/ebay-dialog/examples/04-panel-left/template.marko
  src/components/ebay-dialog/examples/05-panel-right/template.marko
  src/components/ebay-dialog/examples/06-fill/template.marko
  src/components/ebay-dialog/examples/07-focus/template.marko
  yarn.lock
Labels: aspect: marko, semver: patch

#805 Listbox: close on select
  src/components/ebay-listbox-button/index.js
  src/components/ebay-listbox-button/template.marko
  src/components/ebay-listbox-button/test/test.browser.js
Labels: component: listbox, squash: YES please

#818 Dropdown bugfixes for 3.0
  src/components/ebay-combobox-readonly/index.js
  src/components/ebay-combobox-readonly/template.marko
  src/components/ebay-combobox-readonly/test/test.server.js
  src/components/ebay-combobox/index.js
  src/components/ebay-combobox/template.marko
  src/components/ebay-combobox/test/test.server.js
  src/components/ebay-infotip/template.marko
  src/components/ebay-listbox-button/template.marko
Labels: component: combobox, component: infotip, component: listbox, type: bug

#829 New Component: ebay-filter
  demo/browser.json
  marko.json
  src/components/ebay-filter/README.md
  src/components/ebay-filter/browser.json
  src/components/ebay-filter/examples/01-basic/template.marko
  src/components/ebay-filter/examples/02-selected/template.marko
  src/components/ebay-filter/examples/03-disabled/template.marko
  src/components/ebay-filter/examples/04-truncated/template.marko
  src/components/ebay-filter/examples/05-using-fake-buttons/template.marko
  src/components/ebay-filter/examples/06-a11y-active-text/template.marko
  src/components/ebay-filter/examples/07-html-attributes/template.marko
  src/components/ebay-filter/index.js
  src/components/ebay-filter/template.marko
  src/components/ebay-filter/test/mock/index.js
  src/components/ebay-filter/test/test.browser.js
  src/components/ebay-filter/test/test.server.js
Labels: component: filter, squash: YES please

#830 DS 6.5 buttons
  src/components/ebay-button/README.md
  src/components/ebay-button/examples/03-delete/template.marko
  src/components/ebay-button/examples/03-small/template.marko
  src/components/ebay-button/template.marko
  src/components/ebay-button/test/test.server.js
Labels: component: button, squash: YES please

#832 Filter menu button
  demo/browser.json
  marko.json
  package.json
  src/components/ebay-filter-menu-button/README.md
  src/components/ebay-filter-menu-button/browser.json
  src/components/ebay-filter-menu-button/examples/01-basic/template.marko
  src/components/ebay-filter-menu-button/examples/02-selected/template.marko
  src/components/ebay-filter-menu-button/examples/03-many-options/template.marko
  src/components/ebay-filter-menu-button/examples/04-with-footer-button/template.marko
  src/components/ebay-filter-menu-button/examples/05-form-variant/template.marko
  src/components/ebay-filter-menu-button/index.js
  src/components/ebay-filter-menu-button/template.marko
  src/components/ebay-filter-menu-button/test/mock/index.js
  src/components/ebay-filter-menu-button/test/test.browser.js
  src/components/ebay-filter-menu-button/test/test.server.js
  yarn.lock
Labels: component: filter-menu, squash: YES please

#844 Fix info tip icon for DS6.5 skin
  src/components/ebay-icon/examples/01-inline/template.marko
  src/components/ebay-icon/examples/04-inline-small/template.marko
  src/components/ebay-infotip/template.marko
  src/components/ebay-menu-button/examples/16-icons/template.marko
Labels: component: icon, component: infotip, squash: YES please
