Repository eBay/ebayui-core, pull requests merged in 2019-11, with the labels that each got.

#947 Patch infotip browser.json to use ebay-icon;
  src/components/ebay-infotip/browser.json
Labels: type: bug

#946 Added support for spread attributes
  README.md
  marko.json
  package.json
  src/common/html-attributes/index.js
  src/common/html-attributes/test/test.server.js
  src/common/test-utils/server.js
  src/components/ebay-badge/index.marko
  src/components/ebay-breadcrumb/template.marko
  src/components/ebay-button/template.marko
  src/components/ebay-carousel/index.js
  src/components/ebay-checkbox/template.marko
  src/components/ebay-combobox-readonly/index.js
  src/components/ebay-combobox/index.js
  src/components/ebay-combobox/template.marko
  src/components/ebay-combobox/test/test.server.js
  src/components/ebay-cta-button/index.marko
  src/components/ebay-dialog/template.marko
  src/components/ebay-expand-button/index.marko
  src/components/ebay-filter-menu-button/template.marko
  src/components/ebay-filter-menu/template.marko
  src/components/ebay-filter/template.marko
  src/components/ebay-icon/index.marko
  src/components/ebay-infotip/template.marko
  src/components/ebay-listbox-button/template.marko
  src/components/ebay-menu-button/template.marko
  src/components/ebay-menu/template.marko
  src/components/ebay-notice/template.marko
  src/components/ebay-pagination/index.js
  src/components/ebay-pill/template.marko
  src/components/ebay-radio/template.marko
  src/components/ebay-radio/test/test.browser.js
  src/components/ebay-section-title/template.marko
  src/components/ebay-select/template.marko
  src/components/ebay-switch/template.marko
  src/components/ebay-switch/test/test.browser.js
  src/components/ebay-tab/template.marko
  src/components/ebay-textbox/template.marko
  src/components/ebay-tooltip/template.marko
  src/components/ebay-tourtip/template.marko
  yarn.lock
Labels: aspect: marko

#948 Added page notice celebration and window notice
  marko.json
  src/components/ebay-notice/README.md
  src/components/ebay-notice/examples/10-section-notice-overlow-menu/template.marko
  src/components/ebay-notice/examples/11-window-notice/template.marko
  src/components/ebay-notice/examples/12-window-notice-fill/template.marko
  src/components/ebay-notice/examples/13-page-notice-celebration/template.marko
  src/components/ebay-notice/template.marko
  src/components/ebay-notice/test/mock/index.js
  src/components/ebay-notice/test/test.server.js
  src/components/ebay-notice/transformer.js
Labels: component: notice

#952 Infotip: location fixes - Storybook examples
  src/components/components/ebay-tooltip-overlay/constants.js
  src/components/ebay-infotip/examples/01-infotip/template.marko
  src/components/ebay-infotip/examples/02-custom-icon/template.marko
  src/components/ebay-infotip/examples/03-disabled/template.marko
  src/components/ebay-infotip/examples/04-intotip-in-paragraph/template.marko
  src/components/ebay-infotip/template.marko
  src/components/ebay-tooltip/test/location-styles.json
Labels: squash: YES please
