Repository eBay/ebayui-core, pull requests merged in 2019-10, with the labels that each got.

#892 Tabs: manual fix
  src/common/event-utils/index.js
  src/components/ebay-tab/index.js
Labels: component: tabs

#881 Updated notice to support guidance type
  marko.json
  src/components/ebay-button/README.md
  src/components/ebay-button/template.marko
  src/components/ebay-notice/README.md
  src/components/ebay-notice/examples/02-page-notice-cta/template.marko
  src/components/ebay-notice/examples/03-inline-notice/template.marko
  src/components/ebay-notice/examples/04-custom-heading/template.marko
  src/components/ebay-notice/examples/05-dismissible-notice/template.marko
  src/components/ebay-notice/examples/06-section-notice/template.marko
  src/components/ebay-notice/examples/07-section-notice-cta-button/template.marko
  src/components/ebay-notice/examples/08-section-notice-cta-link/template.marko
  src/components/ebay-notice/examples/09-section-notice-light/template.marko
  src/components/ebay-notice/template.marko
  src/components/ebay-notice/test/mock/index.js
  src/components/ebay-notice/test/test.server.js
Labels: component: notice

#891 Menu Button: supporting overflow button
  marko.json
  src/components/ebay-menu-button/README.md
  src/components/ebay-menu-button/examples/18-overflow/template.marko
  src/components/ebay-menu-button/index.js
  src/components/ebay-menu-button/template.marko
  src/components/ebay-menu-button/test/mock/index.js
  src/components/ebay-menu-button/test/test.server.js
Labels: component: menu-button, squash: YES please

#898 Add information about fake tabs and preventDefault;
  src/components/ebay-tab/README.md
Labels: component: tabs, squash: YES please

#899 Add a guard for combobox blur/change event;
  src/components/ebay-combobox/index.js
Labels: component: combobox, squash: YES please

#900 Added section notice overflow example
  src/components/ebay-notice/examples/10-section-notice-overlow-menu/template.marko
Labels: component: notice

#901 Update documentation for better clarity around a11y;
  src/components/ebay-badge/README.md
  src/components/ebay-breadcrumb/README.md
  src/components/ebay-button/README.md
  src/components/ebay-carousel/README.md
  src/components/ebay-checkbox/README.md
  src/components/ebay-combobox-readonly/README.md
  src/components/ebay-combobox/README.md
  src/components/ebay-cta-button/README.md
  src/components/ebay-dialog/README.md
  src/components/ebay-expand-button/README.md
  src/components/ebay-filter-menu-button/README.md
  src/components/ebay-filter-menu/README.md
  src/components/ebay-filter/README.md
  src/components/ebay-icon/README.md
  src/components/ebay-infotip/README.md
  src/components/ebay-listbox-button/README.md
  src/components/ebay-menu-button/README.md
  src/components/ebay-menu/README.md
  src/components/ebay-notice/README.md
  src/components/ebay-pagination/README.md
  src/components/ebay-pill/README.md
  src/components/ebay-radio/README.md
  src/components/ebay-select/README.md
  src/components/ebay-switch/README.md
  src/components/ebay-tab/README.md
  src/components/ebay-textbox/README.md
  src/components/ebay-tooltip/README.md
  src/components/ebay-tourtip/README.md
Labels: aspect: documentation, squash: YES please

#903 Menu Button: corrected menu-button documentation for events
  src/components/ebay-menu-button/README.md
Labels: component: menu-button, squash: YES please

#908 Menu Button: Add scroll management attribute;
  marko.json
  src/components/ebay-menu-button/README.md
  src/components/ebay-menu-button/examples/19-disable-scroll-management/template.marko
  src/components/ebay-menu-button/examples/19-focus-first/template.marko
  src/components/ebay-menu-button/index.js
Labels: squash: YES please

#905 Icon: copied overflow ds6 icon to overflow ds4 icon
  src/components/ebay-icon/symbols/overflow-small/index.marko
  src/components/ebay-icon/symbols/overflow/index.marko
Labels: component: icon, squash: YES please

#924 Added notice transform to support marko v3
  marko.json
  src/components/ebay-notice/template.marko
  src/components/ebay-notice/test/mock/index.js
  src/components/ebay-notice/test/test.server.js
  src/components/ebay-notice/transformer.js
Labels: aspect: marko, component: notice, type: bug

#922 Add special handling for aria-invalid;
  marko.json
  src/components/ebay-listbox-button/examples/07-aria-invalid/template.marko
  src/components/ebay-listbox-button/template.marko
Labels: squash: YES please

#914 Section Title: new component
  demo/browser.json
  marko.json
  src/components/ebay-section-title/README.md
  src/components/ebay-section-title/browser.json
  src/components/ebay-section-title/examples/01-title/template.marko
  src/components/ebay-section-title/examples/02-subtitle/template.marko
  src/components/ebay-section-title/examples/03-cta/template.marko
  src/components/ebay-section-title/examples/04-cta-no-text/template.marko
  src/components/ebay-section-title/examples/05-info/template.marko
  src/components/ebay-section-title/examples/06-overflow/template.marko
  src/components/ebay-section-title/examples/07-giant/template.marko
  src/components/ebay-section-title/examples/08-large/template.marko
  src/components/ebay-section-title/examples/09-medium-with-info-overflow/template.marko
  src/components/ebay-section-title/examples/10-small/template.marko
  src/components/ebay-section-title/index.js
  src/components/ebay-section-title/template.marko
  src/components/ebay-section-title/test/mock/index.js
  src/components/ebay-section-title/test/test.server.js
  src/components/ebay-section-title/transformer.js
Labels: squash: YES please

#921 Carousel: Add a11y heading text as needed;
  marko.json
  src/components/ebay-carousel/README.md
  src/components/ebay-carousel/examples/13-a11y-text-continuous/template.marko
  src/components/ebay-carousel/index.js
  src/components/ebay-carousel/template.marko
Labels: component: carousel, squash: YES please

#936 Added show paddles always on carousel on nodots and no peek
  src/components/ebay-carousel/examples/14-single-item-per-slide-no-dots/template.marko
  src/components/ebay-carousel/index.js
  src/components/ebay-carousel/template.marko
  src/components/ebay-carousel/test/test.server.js
Labels: component: carousel

#935 Adding support for w-onfocus to checkbox and radio
  src/components/ebay-checkbox/README.md
  src/components/ebay-checkbox/index.js
  src/components/ebay-checkbox/template.marko
  src/components/ebay-checkbox/test/test.browser.js
  src/components/ebay-radio/README.md
  src/components/ebay-radio/index.js
  src/components/ebay-radio/template.marko
  src/components/ebay-radio/test/test.browser.js
Labels: aspect: storybook, component: checkbox, component: radio, squash: YES please

#938 Changed pagination component to use ebay-icon
  src/components/ebay-icon/symbols/arrow-left-small/index.marko
  src/components/ebay-icon/symbols/pagination-next/browser.json
  src/components/ebay-icon/symbols/pagination-next/index.marko
  src/components/ebay-icon/symbols/pagination-next/index[skin-ds6].marko
  src/components/ebay-icon/symbols/pagination-prev/browser.json
  src/components/ebay-icon/symbols/pagination-prev/index.marko
  src/components/ebay-icon/symbols/pagination-prev/index[skin-ds6].marko
  src/components/ebay-pagination/template.marko
Labels: component: pagination

#940 Changed attributes to passthough to ebay-menu-item
  src/components/ebay-menu-button/template.marko
  src/components/ebay-menu-button/test/test.server.js
Labels: component: menu-button
