Repository eBay/ebayui-core, pull requests merged in 2019-02, with the labels that each got.

#547 Docs: added a11y section to readme
  README.md
Labels: squash: YES please

#553 Icon symbols
  src/components/ebay-icon/examples/01-inline/template.marko
  src/components/ebay-icon/examples/02-inline-custom-color/template.marko
  src/components/ebay-icon/examples/03-inline-non-decorative/template.marko
  src/components/ebay-icon/symbols/check/browser.json
  src/components/ebay-icon/symbols/check/ds4.marko
  src/components/ebay-icon/symbols/check/ds6.marko
  src/components/ebay-icon/symbols/check/missing.js
  src/components/ebay-icon/symbols/follow/browser.json
  src/components/ebay-icon/symbols/follow/ds4.marko
  src/components/ebay-icon/symbols/follow/ds6.marko
  src/components/ebay-icon/symbols/follow/missing.js
  src/components/ebay-icon/symbols/information/ds6.marko
  src/components/ebay-icon/symbols/mail-open/browser.json
  src/components/ebay-icon/symbols/mail-open/ds4.marko
  src/components/ebay-icon/symbols/mail-open/ds6.marko
  src/components/ebay-icon/symbols/mail-open/missing.js
  src/components/ebay-icon/symbols/mail/browser.json
  src/components/ebay-icon/symbols/mail/ds4.marko
  src/components/ebay-icon/symbols/mail/ds6.marko
  src/components/ebay-icon/symbols/mail/missing.js
  src/components/ebay-icon/symbols/notifications-null/browser.json
  src/components/ebay-icon/symbols/notifications-null/ds4.marko
  src/components/ebay-icon/symbols/notifications-null/ds6.marko
  src/components/ebay-icon/symbols/notifications-null/missing.js
  src/components/ebay-icon/symbols/notifications/browser.json
  src/components/ebay-icon/symbols/notifications/ds4.marko
  src/components/ebay-icon/symbols/notifications/ds6.marko
  src/components/ebay-icon/symbols/notifications/missing.js
  src/components/ebay-icon/symbols/sell-null/browser.json
  src/components/ebay-icon/symbols/sell-null/ds4.marko
  src/components/ebay-icon/symbols/sell-null/ds6.marko
  src/components/ebay-icon/symbols/sell-null/missing.js
  src/components/ebay-icon/symbols/view-detail/browser.json
  src/components/ebay-icon/symbols/view-detail/ds4.marko
  src/components/ebay-icon/symbols/view-detail/ds6.marko
  src/components/ebay-icon/symbols/view-detail/missing.js
  src/components/ebay-icon/symbols/view-grid/browser.json
  src/components/ebay-icon/symbols/view-grid/ds4.marko
  src/components/ebay-icon/symbols/view-grid/ds6.marko
  src/components/ebay-icon/symbols/view-grid/missing.js
  src/components/ebay-icon/symbols/view-list/browser.json
  src/components/ebay-icon/symbols/view-list/ds4.marko
  src/components/ebay-icon/symbols/view-list/ds6.marko
  src/components/ebay-icon/symbols/view-list/missing.js
Labels: squash: NO thanks

#558 Fix providing an id to ebay-textbox
  marko.json
  src/components/ebay-textbox/index.js
  src/components/ebay-textbox/template.marko
  src/components/ebay-textbox/test/test.server.js
Labels: component: textbox, semver: patch, squash: NO thanks

#560 Fix providing id attribute to ebay button
  marko.json
  src/common/get-marko-3-widget-id/index.js
  src/components/ebay-button/index.js
  src/components/ebay-button/template.marko
  src/components/ebay-button/test/test.server.js
Labels: component: button, squash: NO thanks

#567 Update for preserving menu content on re-render;
  package.json
  src/components/ebay-menu/browser.json
  src/components/ebay-menu/index.js
  src/components/ebay-menu/template.marko
  yarn.lock
Labels: component: menu, squash: YES please

#570 Merge 2.0.5 branch into master prior to final release
  package.json
  src/components/ebay-menu/browser.json
  src/components/ebay-menu/index.js
  src/components/ebay-menu/template.marko
  yarn.lock
Labels: squash: NO thanks
