Repository eBay/ebayui-core, pull requests merged in 2020-01, with the labels that each got.

#1020 Changed cta and expand button to only have large/default size
  src/components/ebay-cta-button/README.md
  src/components/ebay-cta-button/examples/02-large/template.marko
  src/components/ebay-cta-button/examples/02-small/template.marko
  src/components/ebay-cta-button/index.marko
  src/components/ebay-expand-button/README.md
  src/components/ebay-expand-button/examples/3-large-expand-no-text/template.marko
  src/components/ebay-expand-button/examples/3-small-expand-no-text/template.marko
  src/components/ebay-expand-button/examples/4-large-expand-with text/template.marko
  src/components/ebay-expand-button/index.marko
Labels: squash: YES please

#1023 Added migrator for icon type
  src/components/ebay-badge/examples/03-icon/template.marko
  src/components/ebay-button/examples/11-icon-button/template.marko
  src/components/ebay-checkbox/index.marko
  src/components/ebay-dialog/index.marko
  src/components/ebay-filter-menu-button/index.marko
  src/components/ebay-filter-menu/index.marko
  src/components/ebay-icon/marko-tag.json
  src/components/ebay-icon/migrator.js
  src/components/ebay-icon/test/test.server.js
  src/components/ebay-infotip/index.marko
  src/components/ebay-menu/examples/05-icons/template.marko
  src/components/ebay-notice/index.marko
  src/components/ebay-radio/index.marko
  src/components/ebay-section-title/index.marko
Labels: component: icon, squash: NO thanks

#1028 Catch race condition in carousel rerender
  src/components/ebay-carousel/index.js
Labels: component: carousel

#1032 Changed logic behind firing change events
  src/components/ebay-combobox/index.js
Labels: component: combobox, squash: YES please

#1042 Updated makeup auto expander for combobox autoscroll
  package.json
  src/components/ebay-combobox/index.js
  yarn.lock
Labels: aspect: makeup, component: combobox, squash: YES please

#1041 Updated carousel with fade, peek, and, no dots
  src/components/ebay-carousel/README.md
  src/components/ebay-carousel/component.js
  src/components/ebay-carousel/examples/09-a11y-text/template.marko
  src/components/ebay-carousel/examples/10-autoplay/template.marko
  src/components/ebay-carousel/examples/14-single-item-per-slide-no-dots/template.marko
  src/components/ebay-carousel/index.marko
  src/components/ebay-carousel/marko-tag.json
  src/components/ebay-carousel/test/mock/index.js
  src/components/ebay-carousel/test/test.browser.js
  src/components/ebay-carousel/test/test.server.js
  src/components/ebay-pagination/examples/04-a11y-text/template.marko
Labels: component: carousel, squash: NO thanks

#1043 Bugfixes for 5.0.0 branch
  demo/browser.json
  package.json
  src/components/components/ebay-tooltip-base/component.js
  src/components/ebay-combobox/component.js
  src/components/ebay-infotip/component.js
  src/components/ebay-infotip/index.marko
  src/components/ebay-notice/README.md
  src/components/ebay-notice/component.js
  src/components/ebay-notice/examples/05-section-notice/template.marko
  src/components/ebay-notice/examples/06-section-notice-cta-button/template.marko
  src/components/ebay-notice/examples/06-section-notice/template.marko
  src/components/ebay-notice/examples/07-section-notice-cta-link/template.marko
  src/components/ebay-notice/examples/08-section-notice-light/template.marko
  src/components/ebay-notice/examples/09-section-notice-overlow-menu/template.marko
  src/components/ebay-notice/examples/10-window-notice/template.marko
  src/components/ebay-notice/examples/11-window-notice-fill/template.marko
  src/components/ebay-notice/examples/12-page-notice-celebration/template.marko
  src/components/ebay-notice/index.marko
  src/components/ebay-notice/test/mock/index.js
  src/components/ebay-notice/test/test.browser.js
  src/components/ebay-notice/test/test.server.js
  yarn.lock
Labels: squash: NO thanks
